.container-skills {
    text-align: center;
}

.centered-title-container {
    margin-bottom: 20px;
}

.centered-title {
    padding-top: 50px;
    font-size: 50px;
}

.container-no-title {
    display: flex;
    flex-direction: row;
}

.div-image-skills {
    margin-top: 20px;
    margin-left: 20px;
}

#image-skills {
    width: 450px;
}

.swiper-container {
    height: 15vh;
    margin-top: 200px;
    width: 50%; 
}

.swiper-item {
    font-size: 60px;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #F15A59;
    opacity: 1;
    padding: 2px;
    border-radius: 2;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #F15A59;
}