* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
}
body {
  background-image: url('./assets/wave-haikei.svg');
  background-size: cover;
  /* background-color: #18122B; */
  font-size: 26px;
}
